@charset "utf-8";

.company {
  padding: 10px 10px;
  border: 1px solid;
  box-sizing: border-box;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  overflow-y: auto;
}

.eDom {
  width: 49.8%;
  height: 400px;
  background-color: grey;
  display: inline-block;
  border: 1px solid;
  margin-right: 0.2%;
}

